body {
  background: black;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.flex-container {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	width: 500px;
}

button {
    border: 2px solid crimson;
    color: crimson;
    background: black;
    font-weight: bold;
    border-radius: 10px;
		height: 100px;
		width: 100px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
  transform: scale(1.2);
  background-color: red;
  color: black;
  font-weight: bold;
}